{% load static %}

<link rel="stylesheet" href="{% static 'game/style.css' %}">
<span style="color: white">
    <span style="font-size:x-large">
        <a>Jak nazywa się kraj którego stolicą jest {{ city }} ?</a>
    </span>
</span>

<ul type="square">
    <span style="color: white">
    <span style="font-size:x-large">

    {% for i in lista_odp %}
        <li>{{ i }}</li>
    {% endfor %}
    </span>
    </span>
</ul>
<br>

<button type="button">
<a href="{% url 'game:cc_odp' %}">Pokaż odpowiedź</a>
</button>