{% load static %}

<link rel="stylesheet" href="{% static 'game/style.css' %}">

<span style="color: white">
    <span style="font-size:x-large">
        <a href="country">Jak nazywa się kraj którego stolicą jest...?</a>
    </span>
</span>

<ul type="square">
    <span style="color: white">
        <span style="font-size:x-large">
    <li>{{ city_list1 }}</li>
        </span>
    </span>
</ul>


<span style="color: white">
    <span style="font-size:x-large">
        <a href="country">Jak nazywa się stolica...?</a>
    </span>
</span>

<ul type="square">
    <span style="color: white">
        <span style="font-size:x-large">
    <li>{{ country_list1 }}</li>
        </span>
    </span>
</ul>