{% load static %}

<link rel="stylesheet" href="{% static 'game/style.css' %}">
<br>
<button style="margin-bottom:30px;" type="button">
<a href="{% url 'logout' %}"><font size="4">Log Out</font></a>
</button><br>


<span style="color: white">
    <span style="font-size:x-large">
        <a>Jak nazywa się stolica {{ country_for_city_pyt }}?</a>
    </span>
</span>

<ul type="square">
    <span style="color: white">
        <span style="font-size:x-large">

    {% for city in lista_city_odp %}
        <li><a href="{% url 'game:city_odp' %}">{{ city }}</a></li>
    {% endfor %}

        </span>
    </span>
</ul>
<br>
<ul>
<button style="margin-bottom:30px;" type="button">
    <a href="{% url 'game:city_odp' %}"><font size="4">Pokaż odpowiedź</font></a>
</button>
</ul>

<ul>
<button type="button">
    <a href="{% url 'game:index' %}"><font size="4">Wybierz rodzaj pytania</font></a>
</button>
</ul>