{% load static %}

<link rel="stylesheet" href="{% static 'game/style.css' %}">
<span style="color: white">
    <span style="font-size:x-large">
        <a>Stolicą {{ country_for_city_pyt }} jest {{ city_odp_a }}</a>

    </span>
</span>

<ul type="square">
    <span style="color: white">
        <span style="font-size:x-large">

        </span>
    </span>
</ul><br>

<ul>
<button style="margin-bottom:30px;" type="button">
<a href="{% url 'game:city_pyt' %}">Kolejne pytanie</a>
</button>
</ul>
<ul>
<button type="button">
<a href="{% url 'game:index' %}">Wybierz rodzaj pytania</a>
</button>
</ul>