{% load static %}

<link rel="stylesheet" href="{% static 'game/style.css' %}">
<span style="color: white">
    <span style="font-size:x-large">
        <a>Jak nazywa się kraj którego stolicą jest {{ pyt_a_city }}?</a>
    </span>
</span>


<ul type="square">
    <span style="color: white">
        <span style="font-size:x-large">

    {% for country in lista_odp %}
        <li>{{ country }}</li>
    {% endfor %}

        </span>
    </span>
</ul>
<br>
<ul>
<button style="margin-bottom:30px;" type="button">
<a href="{% url 'game:country_odp' %}">Pokaż odpowiedź</a>
</button>
</ul>

<ul>
<button type="button">
<a href="{% url 'game:index' %}">Wybierz rodzaj pytania</a>
</button>
</ul>