{% load static %}

<link rel="stylesheet" href="{% static 'game/style.css' %}">
<br>
<button style="margin-bottom:30px;" type="button">
<a href="{% url 'logout' %}"><font size="4">Log Out</font></a>
</button><br>


<span style="color: white">
    <span style="font-size:x-large">
        <a>Jak nazywa się kraj którego stolicą jest {{ city_for_country_pyt }}?</a>
    </span>
</span>

<ul type="square">
    <span style="color: white">
        <span style="font-size:x-large">

    {% for country in lista_country_odp %}
        <li><a href="{% url 'game:country_odp' %}">{{ country }}</a></li>
    {% endfor %}

        </span>
    </span>
</ul>
<br>
<ul>
<br>
    <form method="post" action="{% url 'game:country_odp' %}">
    {% csrf_token %}
    <input type="hidden" name="country_odp_a" id="question" value="{{ country_odp_a }}">
    <input type="hidden" name="city_for_country_pyt" id="correct_ans" value="{{ city_for_country_pyt }}">
    <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}">
    <button style="margin-bottom:30px; position: absolute; top: 250px; left: 48px"
            name="foo"
            value="save"><font size="4">Pokaż odpowiedź</font></button>
</form>
</ul>

<ul>
<button type="button">
    <a href="{% url 'game:index' %}"><font size="4">Wybierz rodzaj pytania</font></a>
</button>
</ul>
