{% load static %}

<link rel="stylesheet" href="{% static 'game/style.css' %}">
<b>
    <span style="color: white">
        <span style="font-size: xx-large">
            Wybierz rodzaj pytania:
        </span>
    </span>
</b>

<ul type="square">
    <span style="color: white">
        <span style="font-size:x-large">
            <li><a href="{% url 'game:country_pyt' %}">Jak nazywa się kraj którego stolicą jest...?</a></li>
            <li><a href="{% url 'game:city_pyt' %}">Jak nazywa się stolica...?</a></li>
            <li><a href="{% url 'game:cc_pyt' %}">Kraj + Stolica - under development</a></li>
        </span>
    </span>
</ul>



<!--    {% for pytanie in pytania %}-->
<!--        <li><a href="{% url 'Pytanie' %}">{{ 'Pytanie' }} </a> </li>-->
<!--    {% endfor %}-->
<!--</ul>-->

