{% load static %}

<link rel="stylesheet" href="{% static 'game/style.css' %}">
<b>
    <span style="color: white">
        <span style="font-size: xx-large">
            Cześć {{ user.username }}!
<!--            <p style="text-align: right"> <a href="{% url 'logout' %}">Log Out</a></p>-->
            <p style="text-align: left"> <a href="{% url 'logout' %}">Log Out</a></p>
            <br>
            Wybierz rodzaj pytania:
        </span>
    </span>
</b>


<ul type="square">
    <span style="color: white">
        <span style="font-size:x-large">
            <li><a href="{% url 'game:country_pyt' %}">Jak nazywa się kraj którego stolicą jest...?</a></li>
            <li><a href="{% url 'game:city_pyt' %}">Jak nazywa się stolica...?</a></li>
        </span>
    </span>
</ul>
