{% load static %}

<link rel="stylesheet" href="{% static 'game/style.css' %}">
<br>
<button style="margin-bottom:30px;" type="button">
<a href="{% url 'logout' %}"><font size="4">Log Out</font></a>
</button><br>


<span style="color: white">
    <span style="font-size:x-large">
        <a>Pytanie i odpowiedź zostały zapisane</a><br>
        <br><a>Historia ostatnich 10 pytań i odpowiedzi</a>

<ul type="square">
    <span style="color: white">
        <span style="font-size:large">
            {% for item in last_five_items %}
            <li>{{ item }}</li>
            {% endfor %}
        </span>
    </span>
</ul>

    </span>
</span>

<ul type="square">
    <span style="color: white">
        <span style="font-size:x-large">
        </span>
    </span>
</ul>

<ul>
<button style="margin-bottom:30px;" type="button">
    <a href="{% url 'game:country_pyt' %}"><font size="4">Kolejne pytanie</font></a>
</button>
</ul>
<ul>
<button type="button">
    <a href="{% url 'game:index' %}"><font size="4">Wybierz rodzaj pytania</font></a>
</button>
</ul>