{% load static %}

<link rel="stylesheet" href="{% static 'game/style.css' %}">
<span style="color: white">
    <span style="font-size:x-large">
        <a>Pytanie i odpowiedź zostały zapisane</a><br>


        <br><a>Historia pytań i odpowiedzi</a>



    </span>
</span>

<ul type="square">
    <span style="color: white">
        <span style="font-size:x-large">

        </span>
    </span>
</ul><br>


<ul>
<button style="margin-bottom:30px;" type="button">
<a href="{% url 'game:country_pyt' %}">Kolejne pytanie</a>
</button>
</ul>
<ul>
<button type="button">
<a href="{% url 'game:index' %}">Wybierz rodzaj pytania</a>
</button>
</ul>