{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'game/style.css' %}" xmlns="http://www.w3.org/1999/html">
<span style="color: white">
    <span style="font-size:x-large">

{% if user.is_authenticated %}
  Hi {{ user.username }}!
<br>
<br>
<button style="margin-bottom:30px;" type="button">
<a href="{% url 'game:index' %}"><font size="4">Start Your Quiz Game!</font></a>
</button><br>

<button style="margin-bottom:30px;" type="button">
<a href="{% url 'logout' %}"><font size="4">Log Out</font></a>
</button>

{% else %}
 <h2><p>You are not logged in</p></h2>

<button style="margin-bottom:30px;" type="button">
<a href="{% url 'login' %}"><font size="4">Log In</font></a>
</button>
<br>or</br>
<br>
<button style="margin-bottom:30px;" type="button">
<a href="{% url 'signup' %}"><font size="4">Sign Up</font></a>
</button>

{% endif %}
{% endblock %}

  </span>
</span>