{% load static %}

<link rel="stylesheet" href="{% static 'game/style.css' %}">
<br>
<button style="margin-bottom:30px;" type="button">
<a href="{% url 'logout' %}"><font size="4">Log Out</font></a>
</button>


<span style="color: white">
    <span style="font-size: xx-large">
        <br><b>Cześć {{ user.username }}!</b></br>
        <br>
        Wybierz rodzaj pytania:
    </span>
</span>


<ul type="square">
    <span style="color: white">
        <span style="font-size:x-large">
            <li><a href="{% url 'game:country_pyt' %}">Jak nazywa się kraj którego stolicą jest...?</a></li>
            <li><a href="{% url 'game:city_pyt' %}">Jak nazywa się stolica...?</a></li>
        </span>
    </span>
</ul>
